.App {
  text-align: center;
}
h1{
  color: aliceblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  color: #F0F3FA;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
}

html,body {
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  width: 100px;
  height: 100px;
  border-top: 5px solid yellow;
  position: relative;
  transform: rotate(-30deg);
  border-radius: 50%;
  animation:  preloader linear 5s infinite;
}

.preloader::before{
  content: "";
  width: 60px;
  height: 60px;
  border-top: 5px solid lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  border-radius: 50%;
}

.preloader::after{
  content: "";
  width: 80px;
  height: 80px;
  border-top: 5px solid green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  border-radius: 50%;
}

@keyframes preloader {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
